html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: rgb(217, 232, 230);
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
  border-bottom: 1px rgb(129, 182, 176) solid;
  border-top: 3px rgb(129, 182, 176) solid;
}

header {
  display: flex;
  align-self: flex-end;
  padding: 0;
  width: 100%;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  margin: 0px;
  cursor: pointer;
}

.logo span {
  font-weight: 300;
}

.hidden {
  display: none;
}

button {
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  style: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(217, 232, 230);
  color: rgb(59, 59, 59);
}

button:hover {
  color: rgb(79, 170, 179);
}

nav {
  padding-top: 80px;
  border-bottom: 2px rgb(129, 182, 176) solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

p {
  display: flex;
  color: rgb(59, 59, 59);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 10px 20px 10px;
  text-align: left;
}

.bio {
  display: flex;
  border-bottom: 1px rgb(129, 182, 176) solid;
  padding-bottom: 25px;
}

.links {
  width: 100%;
}

.linked-list {
  padding: 0px;
  width: 95%;
  display: flex;
  justify-content: center;
}

.linked-list li {
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linked-list a {
  color: rgb(59, 59, 59);
}

.linked-list a:hover {
  color: rgb(79, 170, 179);
}

#profileimage {
  margin-top: 20px;
  padding-bottom: 50px;
}

.view-image {
  width: 300px;
  height: 200px;
}

.view {
  width: 300px;
  height: 200px;
  margin: 10px;
  float: left;
  border: 10px solid #FCFBE3;
  ;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask, .view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 10px 5px 5px 5px;
  background: rgb(59, 59, 59);
  margin: 0 0 0 0;
  font-weight: 400;
}

.title span {
  font-weight: bold;
  font-size: 17px
}

.view p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  position: relative;
  color: rgb(59, 59, 59);
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 1px 14px;
  background: rgb(59, 59, 59);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  box-shadow: 0 0 1px rgb(59, 59, 59)
}

.view a.info:hover {
  box-shadow: 0 0 5px rgb(59, 59, 59)
}

.view-hover img {
  transition: all 0.3s ease-in-out;
}

.view-hover .mask {
  background-color: rgb(131, 191, 186);
  transform: translateX(-300px);
  transition: all 0.4s ease-in-out;
}

.view-hover h2 {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(59, 59, 59);
  box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}

.view-hover p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear;
}

.view-hover:hover .mask {
  transform: translateX(0px);
}

.view-hover:hover img {
  transform: translateX(300px);
  transition-delay: 0.1s;
}

.view-hover:hover p {
  opacity: 1;
  transition-delay: 0.4s;
}

h1 {
  align-self: flex-start;
  font-family: 'Lato', sans-serif;
  color: rgb(59, 59, 59);
  font-size: 20px;
}

h4 {
  font-size: 40px;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

#about {
  display: none;
  justify-content: space-between;
}

.project-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.flex-box-1 {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.flex-box-2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
}

.col-1 {
  display: flex;
  flex-direction: column;
}

.col-2 {
  display: flex;
  flex-direction: column;
  right: 0;
  left: 50%;
}

footer {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  margin-top: 50px;
  position: static;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

footer ul li {
  font-family: 'Lato', sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  color: rgb(59, 59, 59);
}

footer li a {
  color: black;
}

footer li a:hover {
  color: rgb(79, 170, 179);
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 1000px) {
  /* Styles */
  .flex-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .flex-box-1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  #about {
    display: none;
    justify-content: space-between;
  }
  p {
    margin: 0px;
  }
  .bio {
    display: flex;
  }
  .linked-list {
    width: 100%;
  }
  #profileimage {
    padding-bottom: 0px;
    width: 400px;
    align-self: center;
  }
  .logo {
    display: flex;
    font-size: 40px;
    width: 100%;
    justify-content: center;
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav ul {
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    border-top: 2px rgb(129, 182, 176) solid;
  }
  nav li {
    margin: 0px;
  }
  footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
  }
  .flex-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    margin-bottom: 20px;
  }
  .view-image {
    width: 240px;
    height: 160px;
  }
  .view {
    width: 240px;
    height: 160px;
  }
  .view .mask, .view .content {
    width: 240px;
    height: 160px;
  }
  .view h2 {
    font-size: 12px;
  }
  .title span {
    font-weight: bold;
    font-size: 14px
  }
  .view p {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    margin: 15px 10px 15px 10px;
    color: #000000;
  }
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 1px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    font-size: 14px;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  /* Styles */
}