#gif, #nk {
  align-self: center
}

.down-button, .flex-box-7 a, .view a.info, nav li,  a, a:-webkit-any-link{
  text-decoration: none
}

#row, .linked-list li, footer ul, nav ul {
  list-style-type: none
}

body, html {
  padding: 0;
  margin: 0;
  top: 0
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px #3b3b3b solid;
  border-top: 3px #3b3b3b solid;
}

#nk {
  height: 30px;
  width: 30px;
  cursor: pointer
}

.links, header, nav {
  width: 100%
}

.nk-logo {
  display: flex;
  align-items: center;
  margin-left: 10px
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: 100vh;
  background-image: url(../home/sspic-small.jpg);
  background-size: cover;
  background-color: #000;
  margin-bottom: 50px
}

h4 {
  font-size: 60px;
  color: #fff;
  font-family: Roboto, sans-serif;
  margin: 200px 0 0
}

.logo, button, nav li {
  font-family: Lato, sans-serif;
  cursor: pointer
}

.logo {
  font-size: 30px;
  font-weight: lighter;
  margin: 0 0 0 5px
}

.logo span {
  font-weight: 300
}

.hidden {
  display: none
}

.images, .linked-list, nav, nav ul {
  display: flex
}

#info span {
  font-weight: 700
}

button {
  border: none;
  font-size: 13px;
  style: none;
  outline: 0;
  background-color: #fff;
  color: #3b3b3b
}

button a{
  color: white;
}


.selected, button:hover {
  color: #4faab3
}

.unselected, nav li {
  color: #3b3b3b
}

nav {
  padding-top: 50px;
  justify-content: space-between;
  background-color: black;
}

nav ul {
  margin: 0 25px 0 0;
  padding: 0;
  overflow: hidden;
  justify-content: flex-end
}

nav li {
  margin: 10px;
  text-align: center;
  color: white;
}

 li a {
  color: white;
  font-size: 13px;
}

li a:hover{
  color: #4faab3;
}

.linked-list a, p {
  color: #3b3b3b
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 10px 20px
}

.linked-list li, .page-title, h2 {
  font-family: Lato, sans-serif
}

.bio {
  border-bottom: 1px #3b3b3b solid;
  padding-bottom: 25px
}

.linked-list {
  padding: 0;
  width: 95%;
  justify-content: center
}

.linked-list li {
  font-size: 15px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.linked-list a:hover {
  color: #4faab3
}

.page-title, .view h2 {
  color: #fff;
  text-align: center
}

#profileimage {
  margin-top: 20px;
  padding-bottom: 50px
}

.view-image {
  width: 300px;
  height: 200px
}

.ex-img, .kinekt-img {
  height: 450px;
  width: 225px
}

.kinekt-img {
  margin: 40px
}

.ASD-tut-img {
  width: 450px;
  height: 337.5px;
  margin: 15px
}

.ASD-img {
  width: 400px;
  height: 272.27px;
  margin: 15px
}

.flow, .view {
  margin: 10px
}

.page-title {
  font-size: 45px;
  background-color: #000
}

h2 {
  font-size: 30px;
  text-align: center;
  background-color: #eff58a
}

.view a.info, .view h2 {
  background: #3b3b3b;
  font-family: Lato, sans-serif;
  text-transform: uppercase
}

h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif
}

.item h3 {
  margin-top: 10px;
  text-align: center
}

.flow {
  width: 60%;
  height: 60%
}

.images {
  flex-wrap: wrap;
  justify-content: center
}

#gif {
  width: 80%;
  height: 80%
}

.post-its {
  height: 400px;
  width: 400px
}

#projects-down {
  position: relative;
  -webkit-animation: mymove 5s infinite;
  animation: mymove .75s infinite
}

@-webkit-keyframes mymove {
  0% {
    top: 0
  }
  100%, 25% {
    top: 10px
  }
  75% {
    top: 20px
  }
}

@keyframes mymove {
  0%, 80% {
    top: 0
  }
  20%, 60% {
    top: 3px
  }
  40% {
    top: 6px
  }
}

.animate-sketch {
  margin: 10px;
  height: 533px;
  width: 300px
}

.view, .view .content, .view .mask {
  width: 300px;
  height: 200px;
  overflow: hidden
}

.view {
  float: left;
  border: 2px solid #fff;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default
}

.view .content, .view .mask {
  position: absolute;
  top: 0;
  left: 0
}

.view h2, .view img, .view p {
  position: relative
}

.view img {
  display: block
}

.view h2 {
  font-size: 14px;
  padding: 10px 5px 5px;
  margin: 0;
  font-weight: 400
}

.title span {
  font-weight: 700;
  font-size: 17px
}

.view p {
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: #3b3b3b;
  text-align: center
}

.view a.info {
  display: inline-block;
  padding: 1px 14px;
  color: #fff;
  box-shadow: 0 0 1px #3b3b3b
}

.view a.info:hover {
  box-shadow: 0 0 5px #3b3b3b
}

.view-hover img {
  transition: all .3s ease-in-out
}

.view-hover .mask {
  background-color: #83bfba;
  transform: translateX(-300px);
  transition: all .4s ease-in-out
}

.view-hover h2 {
  background: rgba(255, 255, 255, .5);
  color: #3b3b3b;
  box-shadow: 0 1px 3px rgba(159, 141, 140, .5)
}

.view-hover p {
  opacity: 0;
  color: #333;
  transition: all .2s linear
}

.description h1, h1 {
  font-family: Lato, sans-serif;
  color: #3b3b3b;
  font-size: 20px
}

.view-hover:hover .mask {
  transform: translateX(0)
}

.view-hover:hover img {
  transform: translateX(300px);
  transition-delay: .1s
}

.view-hover:hover p {
  opacity: 1;
  transition-delay: .4s
}

h1 {
  align-self: flex-start
}

h1 a{
  color: white;
}

.description {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center
}

.description h1 {
  display: flex;
  align-self: center;
  margin: 10px 0 0;
  text-align: center
}

#DT-R2 h3, #DT-R2 li, #DT-R2 p, #scroll-up, .DT-RC h3, .DT-RC p, .down-button, .flex-box-7 a {
  color: #fff
}

#about {
  display: flex;
  justify-content: space-between
}

.project-list {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-left: 10%;
}

.flex-box-2 img {
  max-width: 100%;
  height: auto;
  display: block
}

.masonry {
  column-gap: 1.5em;
  margin: 1.5em 0;
  padding: 0
}

.item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%
}

.ASD-flex-section, .kinekt-flex-section, .libero-flex-section, .misc-flex-section {
  display: flex;
  width: auto;
  margin-top: 20px;
  margin-bottom: 40px
}

#duo-tone {
  width: 90%;
}

.DT-flex-section {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px
}

.DT-RC {
  width: 48%
}

.DT-proj h3, .DT-proj p {
  align-self: left
}

.DT-refl {
  background-color: #000
}

#DT-R2, #RC-bg {
  background-color: #5400bf
}

.DT-refl h3, .DT-refl p {
  align-self: left;
  color: #fff
}

#RC {
  width: 430px;
  height: 334.29px;
  margin-right: 15px
}

.brainstorm-img {
  width: 300px;
  height: 424.64px;
  margin: 10px
}

#DT-needs {
  width: 100%
}

#DT-TB {
  width: 70%
}

#DT-R2 {
  padding-bottom: 40px
}

.DT-bed {
  width: 60%;
  margin: 10px
}

.flex-box-7 ul {
  justify-content: space-around
}

.flex-box-7 a {
  display: inline-block;
  padding: 1px 14px;
  background: #000;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  font-size: 14px
}

.down-button, .label, .role {
  font-size: 25px
}

#row {
  flex-direction: row
}

.button-margin {
  margin: 30px 10px 0
}

.role, a.info {
  margin-bottom: 20px;
  font-family: Lato, sans-serif
}

.down-button {
  font-family: Lato, sans-serif;
  margin-top: 10%;
  cursor: pointer
}

#scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: 0;
  background-color: #5400bf;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px
}

#scroll-up:hover {
  background-color: #555
}

a.info {
  background-color: #ab5bcb;
  margin-top: 20px
}

.around {
  justify-content: space-around
}

.between {
  justify-content: space-between
}

.label {
  justify-content: center;
  font-weight: 700
}

.pic-text {
  margin: 20px
}

.col {
  flex-direction: column;
  align-items: center
}

#research-idea {
  width: 50%
}

.role {
  text-align: center
}

#persona {
  width: 45%;
  height: 45%;
  margin: 10px
}

#journey {
  width: 55%;
  height: 55%;
  margin: 10px
}

.flex-box-0 {
  margin-bottom: 20px;
  width: 100%;
}

.flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6, .flex-box-7 {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%
}

.flex-box-2, .flex-box-3 {
  margin-bottom: 20px;
  flex-wrap: wrap
}

.flex-box-4 {
  flex-direction: column;
  margin-bottom: 20px;
  flex-wrap: wrap
}

.flex-box-5, .flex-box-6 {
  margin-bottom: 20px;
  flex-wrap: wrap
}

.col-1, .flex-box-7 ul {
  flex-direction: column;
  display: flex
}

.flex-box-3 p {
  font-size: 20px
}

.flex-box-5 p, .flex-box-6 p {
  font-size: 20px;
  text-align: center
}

.flex-box-7 h3, .flex-box-7 p {
  margin: 5px 0 5px 15px
}

.flex-box-7 ul {
  margin: 0 0 0 30px;
  padding: 0
}

.flex-box-7 li {
  font-family: Lato, sans-serif;
  font-size: 16px
}

.col-2 {
  display: flex;
  flex-direction: column;
  right: 0;
  left: 50%;
  margin-bottom: 30px;
}

.info, .view .info {
  display: inline-block;
  text-decoration: none;
  padding: 1px 14px;
  color: #fff;
  text-transform: uppercase
}

.view .info {
  background: #3b3b3b;
  box-shadow: 0 0 1px #3b3b3b;
  font-family: Lato, sans-serif
}

.view .info:hover {
  box-shadow: 0 0 5px #3b3b3b
}

.info {
  background: #000;
  box-shadow: 0 0 1px #000;
  font-size: 14px
}

footer {
  position: static;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 50px 15% 10px;
  background-color: black;
}

footer ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start

}

footer ul li {
  font-family: Lato, sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  color: white;
}

footer li a {
  color: white;
}

footer li a:hover {
  color: #4faab3
}

@media only screen and (min-width:320px) and (max-width:1000px) {
  .final, .linked-list {
    width: 100%
  }
  .center, .col p, h4 {
    text-align: center;
    align-self: center;
  }
  .logo, nav {
    display: flex
  }

  #RC, .col-2 img {
    align-self: center
  }
  #about {
    display: flex;
    justify-content: space-between
  }
  p {
    margin: 0;
    font-size: 18px
  }
  .col p {
    margin: 0 10px
  }
  #info, #next {
    text-align: left
  }
  .nk-logo {
    margin-left: 0;
    align-self: center;
  }
  .final {
    background-color: #000;
    color: #fff
  }
  .center {
    justify-content: center;
    align-self: center;
    text-align: center;
    align-content: center;
  }
  .welcome-description {
    margin: 40px 10px 30px
  }
  .flex-box-1 {
    flex-wrap: wrap
  }
  .col-2 {
    width: 100%;
  }
  .col-2 img {
    padding-bottom: 0;
    width: 90%
  }
  .logo, nav, nav ul {
    width: 100%
  }
  .logo {
    font-size: 40px;
    color: white;
  }
  h2 {
    font-size: 20px
  }
  nav {
    flex-direction: column
  }
  nav ul {
    margin-top: 20px;
    justify-content: center;
    border-top: 2px white solid
  }
  #row, footer ul {
    flex-direction: column
  }
  .flex-container {
    padding-bottom: 5%
  }
  footer ul li {
    margin-bottom: 20px
  }
  .view, .view .content, .view .mask, .view-image {
    width: 240px;
    height: 160px
  }
  #gif, .ex-img, .kinekt-img, iframe {
    height: 100%
  }
  .view h2 {
    font-size: 12px
  }
  .title span {
    font-weight: 700;
    font-size: 14px
  }
  .view p {
    font-family: Lato, sans-serif;
    font-size: 10px;
    margin: 15px 10px;
    color: #000
  }
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 1px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    font-size: 14px
  }
  .page-title {
    font-size: 30px
  }
  .role {
    font-size: 20px;
    margin-top: 5px
  }
  .flex-box-3 p, .flex-box-5 p, .flex-box-6 p, .flex-box-7 p {
    font-size: 14px
  }
  a.info {
    margin-top: 0;
    margin-bottom: 10px
  }
  .ASD-flex-section {
    margin-bottom: 20px;
    width: 100%
  }
  .ASD-img, .ASD-tut-img {
    width: 100%;
    height: 100%
  }

  .asd-SG {
    width: 50%;
    height: 50%;
  }
  .flex-box-7 p {
    margin-bottom: 20px;
    text-align: left
  }
  .flex-box-7 h3 {
    margin-left: 10px
  }
  .flex-box-7 ul {
    margin: 0 30px
  }
  .flex-box-7 li {
    margin: 5px 0
  }
  #row {
    align-items: center
  }
  #RC {
    width: 98%;
    height: 98%;
    margin: 0
  }
  .col-not-row {
    flex-direction: column
  }
  .DT-RC {
    width: 100%
  }
  .DT-bed {
    width: 80%
  }
  .DT-flex-section {
    margin-bottom: 20px
  }
  .DT-flex-section h2 {
    margin-bottom: 10px
  }
  iframe {
    width: 100%
  }
  .brainstorm-img {
    width: 95%
  }
  .images {
    display: flex;
    justify-content: center
  }
  #DT-TB {
    width: 85%
  }
  #research-idea, .ex-img, .kinekt-flex-section, .post-its {
    width: 100%
  }
  #journey, #persona {
    width: 100%;
    margin: 0
  }
  .flow, .kinekt-img {
    margin: 0 0 10px;
    width: 100%
  }
  .flex-box-4 {
    width: 100%;
    margin-left: 0
  }
  #gif {
    width: 80%
  }
}

@media only screen and (min-width:1100px) {
  .masonry {
    column-count: 4
  }
}

@media only screen and (min-width:900px) {
  .masonry {
    column-count: 3
  }
}

@media only screen and (min-width:700px) {
  .masonry {
    column-count: 2
  }
}
